@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
}

.main{
    
    height: 100vh;
    background-color: #BFACE0;
    width: 100%;
    color: #645CAA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonGroup
{
    margin-top: 150px;
}

button{
    position: absolute;
    display: flex;
    cursor:pointer;
    margin: 0 10px !important; 
    padding: 10px 20px !important; 
    background-color: #645CAA;
    border: none;
    color: wheat !important;
    border-radius: 5px;
}

.No-Button{
    right: 50%;
    background-color: #EE6983;
}

@media only screen and (max-width: 600px) {
    .main {
     padding: 20px;
     overflow: hidden;
    }
  }